<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="info-table">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `info-table`
     * Elemento para la tabla de Crypto-info
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InfoTable extends Polymer.Element {
      static get is() { return 'info-table'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'info-table'
          }
        };
      }
    }

    window.customElements.define(InfoTable.is, InfoTable);
  </script>
</dom-module>
