<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="info-table">
  <template>
    <style>
      :host {
        display: block;
      }

      .textoContainer {
        text-align: center;
      }

      .tableContainer {
        
        height: 200px;
      }

      .table {
        margin: 0 auto;
        width: 90%;
        background-color: thistle;
      }

      table {
        empty-cells: show;
        border-collapse: separate;
      }

      tr,
      th {
        text-align: center;

      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section class="textoContainer">
      <h2>Crypto info</h2>
      <section class="tableContainer">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Call</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
  </template>

  <script>
    /**
     * `info-table`
     * Elemento para la tabla de Crypto-info
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InfoTable extends Polymer.Element {
      static get is() { return 'info-table'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'info-table'
          }
        };
      }
    }

    window.customElements.define(InfoTable.is, InfoTable);
  </script>
</dom-module>
